<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="../static/js-bin/script.js"></script>
    <link rel="stylesheet" href="{% block css_link %}{% endblock %}">
</head>

<body>

    <h1>{{ self.title() }}</h1>

    {% block body %}
    {% endblock body %}

    <a href="../terms-of-service" target="_blank">Terms of Service</a>
    <a href="../privacy-policy" target="_blank">Privacy Policy</a>

</body>

</html>